<h2>Highscore {{highscoreName}}</h2>

<table mat-table [dataSource]="highscores" class="highscore-table">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Navn</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="stage">
    <th mat-header-cell *matHeaderCellDef> Stage </th>
    <td mat-cell *matCellDef="let element"> {{element.stageCompleted}} </td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Start </th>
    <td mat-cell *matCellDef="let element"> {{element.startTime | date:'dd-MM-yyyy HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="end" *ngIf="onlyCompleted">
    <th mat-header-cell *matHeaderCellDef> End </th>
    <td mat-cell *matCellDef="let element"> {{element.endTime | date:'dd-MM-yyyy HH:mm'}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>