<h2>Highscore {{highscoreName}}</h2>

<div class="header-container">
  <div class="header">
    <div class="header-stage">1</div>
    <div class="header-stage">2</div>
    <div class="header-stage">3</div>
    <div class="header-stage">4</div>
    <div class="header-stage">5</div>
    <div class="header-stage">6</div>
    <div class="header-stage">7</div>
  </div>
</div>

<!-- <deg-highscore-line [stage]="1"></deg-highscore-line>
<deg-highscore-line [stage]="2"></deg-highscore-line>
<deg-highscore-line [stage]="3"></deg-highscore-line>
<deg-highscore-line [stage]="4"></deg-highscore-line>
<deg-highscore-line [stage]="5"></deg-highscore-line>
<deg-highscore-line [stage]="6"></deg-highscore-line>
<deg-highscore-line [stage]="7"></deg-highscore-line> -->

<ng-container *ngIf="highscores | async as highscores">
  <ng-container  *ngFor="let highscore of highscores">
      <deg-highscore-line [name]="highscore.name" [stage]="highscore.currentStage ">
          {{highscore.startTime | timeDiff:highscore.endTime || nowTime}}
      </deg-highscore-line>
  </ng-container>
</ng-container>

<!-- 
<table mat-table [dataSource]="highscores" class="highscore-table">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Navn</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="stage">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{ element.stageCompleted | stageName }} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>
      Tid
      <ng-container *ngIf="!onlyCompleted">
        så langt
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.startTime | timeDiff:element.endTime}} </td>
  </ng-container> -->

  <!-- <ng-container matColumnDef="end" *ngIf="onlyCompleted">
    <th mat-header-cell *matHeaderCellDef> End </th>
    <td mat-cell *matCellDef="let element"> {{element.endTime | date:'dd-MM-yyyy HH:mm'}} </td>
  </ng-container> -->


<!-- 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->