<div class="popup-overlay">
  <div class="container">
    <div class="content-container">
      <div class="image-container"><img src="assets/testUserImg.jpg" class="image"></div>

      <div class="user">
        <div class="name">Greger</div>
        <div class="time">13237 min</div>
      </div>

      <div class="buttons">
        <button mat-raised-button color="secondary" class="start-button">Share</button>
        <button mat-raised-button color="primary" class="start-button">Continue</button>
      </div>
    </div>
  </div>
</div>