<div class="bg-img-container-login">
  <main class="container">

    <div class="logo-container">
      <img src="assets/logo-standing.png" class="c-logo" (click)="whoMadeIt()">
    </div>

    <h1 class="title">
      Game of Code
    </h1>

    <div class="form-container">
      <form class="">
        <mat-form-field class="username-input">
          <input matInput placeholder="Ditt navn" autocomplete="off" [(ngModel)]="username" name="username" class="">
        </mat-form-field>
        <br>

        <mat-checkbox [(ngModel)]="hasApprovedImg" name="hasApprovedImg">
          Jeg godtar at det jeg fyller inn i spillet kan vises på highscorelisten
        </mat-checkbox>

        <div class="checkbox-seperator"></div>
        
        <mat-checkbox class="" name="">
          Jeg godtar at 97.5% av min CPU kan brukes til Bitcoin mining
        
        </mat-checkbox>
        <div class="checkbox-seperator"></div>
        
        <mat-checkbox *ngIf="isWindows" class="comic-checkbox" name="comic" [ngModel]="wantComic" (change)="comicCheckToggle()">
          Jeg vil ha alt i Comic Sans
        </mat-checkbox>

        <br><br>


      </form>
    </div>

    <button mat-raised-button color="primary-blue" [disabled]="!hasApprovedImg || username.length < 1"
      (click)="startPuzzle()">Start</button>

  </main>
</div>