<div class="bg-img">
  <main class="card-container">
    <img src="assets/computas-logo.svg">
    <div class=person-img-container>
      <div class="person-img-circle" #progressElement>
        <!-- iOS safari needs playsinline... -->
        <video id="localVideo" #videoElement [srcObject]="ownStream" class="person-video" autoplay muted playsinline></video>
        <!-- <img class="own-img" src="assets/profiles/christine.jpg"> -->
        <img class="own-img" #thyImg >
        <div class="loading-spinner" *ngIf="loadingResponse">
            <mat-spinner></mat-spinner>
        </div>
        <!-- <img src="assets/testUserImg.jpg" class="person-img"> -->
      </div>
    </div>
    <div class="person-name">{{username | async}}</div>
    <div class="bottom">
      <button mat-raised-button color="primary" *ngIf="noCamera" (click)="puzzleComplete()">Neste oppgave</button>
      {{activeEmojions}}
    </div>
  </main>
</div>



<div class="intro-container" *ngIf="showIntro">
  <deg-info-overlay 
    [title]="'Velkommen til Computas'" 
    [subTitle]="'På tide å lage ID kortet'"
    [imageUrl]="'assets/profiles/christine.jpg'" 
    [startButtonLabel]="'La oss starte!'"
    (startEE)="closeIntro()"
  >
    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.
    Husk å smile!
  </deg-info-overlay>
</div>

<deg-victory (closedEE)="gotoNextTask()" [effectLines]="true" [title]="'Seier!'" *ngIf="showOutro"></deg-victory>