<div class="bg-img">
  <main class="card-container">
    <img class="logo" src="assets/logo-white.svg">
    <div class=person-img-container>
      <div class="person-img-circle" #progressElement>
        <video id="localVideo" #videoElement [srcObject]="ownStream" class="person-video" autoplay muted playsinline></video>
        <img class="own-img" #thyImg >
        <div class="loading-spinner" *ngIf="loadingResponse">
            <mat-spinner color="yellow"></mat-spinner>
        </div>
      </div>
    </div>
    <div class="person-name">{{username | async}}</div>
    <div class="bottom">
      <button mat-raised-button color="primary" *ngIf="noCamera" (click)="puzzleComplete()">Neste oppgave</button>
      {{activeEmojions}}
    </div>
  </main>
</div>

<div class="intro-container" *ngIf="showIntroGeneral">
  <deg-info-overlay 
    [title]="'Velkommen til Computas!'" 
    [subTitle]="'På tide å lage ID kortet'"
    [imageUrl]="'assets/design/people1.jpg'" 
    [startButtonLabel]="'Jeg vil gjøre en forskjell!'"
    (startEE)="closeIntroGeneral()"
  >
  Vi løser store samfunnsnyttige oppgaver med heftig teknologi. Løsningene forbedrer hverdagen for våre medmennesker, enten vi sikrer infrastrukturen i energisektoren eller sørger for mer tid til meningsfullt arbeid i det offentlige. Teknologien for oss, er mest av alt et verktøy for å gjøre en forskjell. 

  </deg-info-overlay>
</div>
<div class="intro-container" *ngIf="showIntro">
  <deg-info-overlay 
    [title]="'På tide å lage ID-kort'" 
    [subTitle]="'På tide å lage ID kortet'"
    [imageUrl]="'assets/profiles/christine.jpg'" 
    [startButtonLabel]="'Jeg er klar!'"
    (startEE)="closeIntro()"
  >
  Før du starter må du få adgangskort - ta bilde av deg selv
  </deg-info-overlay>
</div>

<deg-victory (closedEE)="gotoNextTask()" [effectLines]="true" [title]="'Herlig!'" *ngIf="showOutro"></deg-victory>