<h2>bla bla nå må du lage ID kort. Husk å smile!</h2>

<main class="card-container">
  <img src="assets/computas-logo.svg">
  <div class=person-img-container>
    <div class="person-img-circle">
      <video id="localVideo" [srcObject]="ownStream" class="person-video" autoplay muted></video>
      <!-- <img src="assets/testUserImg.jpg" class="person-img"> -->
    </div>
  </div>
  <div class="person-name">Hanne</div>
  <div class="bottom"></div>
</main>

<br><br>
<button mat-raised-button color="primary" (click)="nextPuzzle()">Next (temp button)</button>