.page-container {
  width: 100vw;
  height: 100vh;

  // background-image: url('./../../assets/memoryBG.png');
  background-size: cover;
  background-color: black;
  background-position: center 25%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .info {
    color: white;
    .yellow {
      color: #fed546;
    }
    .green {
      color: #49dca1;
    }
  }
}

.highscore-container {
  width: 95vw;
  height: 90vh;
  display: flex;
  flex-direction: row;

  color: white;

  .highscore-top,
  .highscore-ongoing {
    height: calc(90vh - 20px);
    padding: 10px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .highscore-top {
    width: calc(40vw);
  }

  .highscore-ongoing {
    width: calc(60vw);
  }

  deg-highscore-top,
  deg-highscore-ongoing {
    width: 100%;
  }

  .title {
    font-size: 43px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: normal;
    .yellow {
      color: #fed546;
      font-size: 43px;
      letter-spacing: 0.5px;
      text-align: center;
      font-weight: bold;
    }
    .green {
      color: #49dca1;
      font-size: 43px;
      letter-spacing: 0.5px;
      text-align: center;
      font-weight: bold;
    }
  }
}
