<div class="page-container">
  <div class="content-container">
    <h2 class="info">Vi kårer <span class="green">1-3. plass</span> og trekker en <span class="yellow">tilfeldig
      vinner</span> hver dag kl. 16! </h2>

    <div class="highscore-container">
      <div class="highscore-top">
        <h1 class="title"><span class="green">High</span> Score</h1>
        <deg-highscore-top></deg-highscore-top>
      </div>
      <div class="highscore-ongoing">
        <h1 class="title"><span class="yellow">Live</span> Score</h1>
        <deg-highscore-ongoing></deg-highscore-ongoing>
      </div>
    </div>
  </div>
</div>