<div class="page-container">
  <div class="cards-container">
    <ng-container *ngFor="let card of cards">
      <div class="memory-card" (click)="clickedCard(card)" [ngClass]="{'card-disabled': card.disabled}">
        <ng-container *ngIf="cardVisible(card.id); else notVisible">
          <img 
            src="assets/memory/{{card.url}}"
            draggable="false"
            class="memory-card-img"
          >
        </ng-container>
        <ng-template #notVisible>
          <div class="not-visible-body">
          </div>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>

<div class="intro-container" *ngIf="showIntro">
  <deg-info-overlay 
      [title]="'Styrk kompetansen'" 
      [subTitle]="'Nå skal det matches!'"
      [imageUrl]="'assets/design/people3.jpg'" 
      [startButtonLabel]="' Jeg vil sertifiseres!'"
      (startEE)="closeIntro()"
      [buttonColor]="'red'"
  >
    Vi verdsetter at våre ansatte holder seg oppdatert på ny teknologi. Du skal nå ta en sertifisering! Lykke til :D 
  </deg-info-overlay>
</div>

<deg-victory (closedEE)="gotoNextTask()" [effectLines]="true" [title]="'Gratulerer!'" *ngIf="showOutro" [outroTitle]="'Gratulerer!'" [outroColor]="'red'">
    Vi ønsker alltid å ligge i front på ny teknologi og setter av mye ressurser til at våre ansatte kan oppdatere seg på siste nytt.
</deg-victory>
