
.page-container {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh1, 1vh) * 100);

    background-image: url('./../../assets/memoryBG.png');
    background-size: cover;
    background-color: #FED547;
    background-position: center 25%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    .memory-card {
        --cardWidth: 80px;
        min-width: var(--cardWidth);
        max-width: calc(var(--cardWidth) * 1.9);
        height: calc(var(--cardWidth) * 1.618);
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 4px 4px 15px 3px rgba(0,0,0,0.5);

        flex-grow: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        background: red;

        user-select: none;

        cursor: pointer;
        
        .memory-card-img {
            max-width: calc(var(--cardWidth) - 10px);
            max-height: calc(calc(var(--cardWidth) * 1.618) - 10px);
        }

        &.card-disabled {
            opacity: 0;
            cursor: unset;
        }

        .not-visible-body {
            font-size: 80px;
            font-weight: bold;
        }
    }
}