<div class="page-container">
  <div class="cards-container">
    <ng-container *ngFor="let card of cards">
      <div class="memory-card" (click)="clickedCard(card)">
        <ng-container *ngIf="cardVisible(card.id); else notVisible">
          <img src="assets/memory/{{card.url}}" class="memory-card-img">
        </ng-container>
        <ng-template #notVisible>
          <div class="not-visible-body">
            ?
          </div>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>