.top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh1, 1vh) * 100);
  // background: black;

  display: flex;
  flex-direction: column;
}

.container {
  width: 80vw;
  height: calc(var(--vh1, 1vh) * 100);
  color: white;
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .title {
    font-weight: bold;
    font-size: 35px;
    line-height: 40px; 
    margin: 0px;
  }

  .image-container {
    --image-url: url("./../../../assets/design/people1.jpg");

    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;

    text-align: center;
    border-radius: 100%;

    background-image: var(--image-url);
    background-size: cover;
    background-position: center center;
  }

  .info {
    font-size: 16px;
    line-height: 24px;
  }

  .hidden {
    opacity: 0;
  }
}
