<div class="container">
  <div class="content-container">
    <div class="logo"><img src="assets/computas-logo.svg"></div>
    <div class="">
      <h1 class="title">Escape games</h1>
      <span class="info">Noe kul info om spillet på 1-2 settninger. Noen skriv dette for meg!</span>
    </div>

    <div class=""></div>
    <div class="start">
      <button mat-raised-button color="primary" class="start-button" (click)="start()">Start!</button>
    </div>
    <div class="">
        <button mat-raised-button color="warn" class="start-button" (click)="payToWin()">Pay to Win!</button>
    </div>
  </div>
</div>

<!-- <deg-victory (closedEE)="start()" [effectDna]="true" [title]="'Seier!'"></deg-victory> -->