<div class="container">

  <div class="top-content">
    <h1 class="title">Hei!</h1>
    <!-- <p>
      Vil du løse samfunnsnyttige prosjekter med fremtidsrettet teknologi? Da er Computas en lekeplass for deg. Et
      IT-selskap som skaper spennende teknologiske løsninger.
    </p> -->
    <p class="info-text">
      Vi har laget noen nøtter du kan løse for å bli bedre kjent med oss. Bli med da vel!
    </p>

    <p class="warning" *ngIf="isIosNotSafari">
      NB! Det virker som du bruker en iPhone. Da må du bytte til Safari 😒
    </p>

  </div>
  <div class="bottom-content">
    <div class="buttons">
      <button mat-raised-button color="secondary" class="" (click)="payToWin()" *ngIf="canPayToWin">Pay to Win</button>
      <button mat-raised-button color="primary" class="start-button" (click)="start()">Start!</button>
    </div>
  </div>


    <!-- <div class="logo"></div> -->
    <!-- <div class="info">
      Games of Code
      <h2 class="subtitle">A song of strings and numbers</h2>
    </div> -->
</div>

<deg-game-intro *ngIf="showIntro" (click)="clickedIntro()"></deg-game-intro>

<!-- <deg-victory (closedEE)="start()" [effectLines]="true" [title]="'Seier!'" [outroTitle]="'Gratulerer!'" [outroColor]="'blue'">
    Du har nå plukket den fremste teknologien hos ulike skyleverandører og Hafslund kan nå tilby stabilt nettverk. Til det beste for folk flest! 
</deg-victory> -->