
<div class="container">
  <div class="code-container" #codeElement [innerHtml]="currentText">
  </div>
  <div class="button-row" *ngIf="!codeDone">
      <button class="auto-button" (click)="clickedButtonZero()" mat-raised-button color="primary-code-blue">0</button>
      <button class="auto-button" (click)="clickedButtonOne()" mat-raised-button color="primary-code-blue">1</button>
  </div>
  <div class="button-row" *ngIf="codeDone">
      <button class="run-button" (click)="runCode()" mat-raised-button color="primary-code-blue">Run!</button>
  </div>
</div>

<div class="intro-container" *ngIf="showIntro">
    <deg-info-overlay 
        [title]="'Hei, eksperten!'" 
        [imageUrl]="'assets/design/kode.jpg'" 
        [startButtonLabel]="'Gi meg utfordringen!'"
        (startEE)="closeIntro()"
    >
    Du har høy, verdsatt kompetanse, og er nå ekspert! Vi vil at du hjelper oss å utvikle en automatisert løsning for en virksomhet i offentlig sektor. 
    </deg-info-overlay>
</div>

<deg-victory (closedEE)="gotoNextTask()" [effectLogo]="true" [title]="'Hurra!'" *ngIf="showOutro" [noSkipIntro]="true" [outroTitle]="'Gratulerer!'" [outroColor]="'blue'">
    Du har bidratt til at teknologien tar seg av rutineoppgaver, så ansatte i det offentlige kan bruke mer tid på saker som krever hjerte, hjerne, innsikt og omsorg. Da kan du sove godt om natten! 
</deg-victory>
