<div class="container">
    <div class="video-container">
        <video id="localVideo" [srcObject]="ownStream" class="person-video" autoplay muted playsinline></video>
    </div>
    <div class="qr-container">
        <h2>Finn denne koden å scann den</h2>
        <img class="qr-img" src="assets/qrCode.png" (click)="qrClicked()">
    </div>
</div>

<div class="intro-container" *ngIf="showIntro">
    <deg-info-overlay 
        [title]="'På tide å løse dette!'" 
        [subTitle]="'Vise deg frem for sjæfen sjør'"
        [imageUrl]="'assets/profiles/trond.jpg'" 
        [startButtonLabel]="'La os finne den koden!'"
        (startEE)="closeIntro()"
    >
        Noe noe QR kode og løse alt for å vinne. Trond følger med på deg Live!
    </deg-info-overlay>
</div>