<div class="container">

    <div class="title-container">
        <h2 class="title">Finn QR Koden</h2>
    </div>

    <div class="no-camera" *ngIf="noCamera">
        Enten har du nektet oss å bruke kamera ditt ellers så bruker du iPhone uten Safari 😢Apple har bestemt at kun
        Safari får kule features på iOS. Trykk på QR koden under for å avslutte
    </div>
    <div class="video-container" #videoContainer>
        <video id="localVideo" #videoElement [srcObject]="ownStream" class="person-video" autoplay muted
            playsinline></video>
    </div>
    <div class="qr-container">

        <img class="qr-img" src="assets/qrCode.png" (click)="qrClicked()">
    </div>
</div>

<div class="intro-container" *ngIf="showIntro">
    <deg-info-overlay [title]="'Velkommen hjem!'" [imageUrl]="'assets/design/people4.jpg'"
        [startButtonLabel]="'Ta meg hjem'" (startEE)="closeIntro()" [buttonColor]="'yellow'">
        Akersgata er et samlingspunkt hvor vi møtes til fagdager, meetups og hackatons! Finn QR koden for å avslutte. Et
        lite hint: Vi liker å samles!
    </deg-info-overlay>
</div>