
.container {
    display: flex;
    flex-direction: column;
    background-color: #F03060;
}

.video-container {
    width: 100vw;
    height: 65vh;

    #localVideo {
        width: 100%;
        max-height: 65vh;
        margin: auto;
    }
}

.qr-container {
    width: 100vw;
    height: 35vh;
    text-align: center;
}

.qr-img {
    cursor: pointer;
}



