/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

.intro-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.849);
  padding: 20px;
}

:root {
  --vh1: 1vh;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

.mat-raised-button {
  border-radius: 100px !important;
  padding: 10px 30px !important;
  font-size: 16px !important;
  min-width: 140px !important;
}

.mat-raised-button.mat-primary {
  background-color: white;
  color: rgba(0, 52, 89, 1);
}

.mat-raised-button.mat-secondary {
  background-color: rgba(0, 52, 89, 1);
  color: rgba(41, 207, 245, 1);
}

.mat-raised-button.mat-primary-blue {
  background-color: rgba(41, 207, 245, 1);
  color: rgba(0, 52, 89, 1);
}
.mat-raised-button.mat-primary-green {
  background-color: rgba(73, 188, 161, 1);
  color: rgba(17, 17, 17, 1);
}
.mat-raised-button.mat-primary-red {
  background-color: rgba(255, 95, 99, 1);
  color: rgba(17, 17, 17, 1);
}
.mat-raised-button.mat-primary-yellow {
  background-color: rgba(254, 213, 70, 1);
  color: rgba(17, 17, 17, 1);
}

.mat-raised-button.mat-primary[disabled] {
  background-color: rgb(95, 95, 95);
  color: black;
}

// dirty, but working
.mat-yellow {
  * {
    stroke: #fed546 !important;
  }
}
