/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// $fa-font-path: "~font-awesome/fonts";
// @import '~font-awesome/scss/font-awesome';

* {
  box-sizing: border-box;
  // font-family: "Comic Sans MS", cursive, sans-serif !important;
}

html {
  font-size: 15px; // fix for autocode
}

.intro-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
  padding: 20px;
}

:root {
  --vh1: 1vh;
  --font: "Open Sans", sans-serif;
  * {
    font-family: var(--font);
    // font-family: 'Open Sans', sans-serif;
  }
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

.mat-raised-button {
  border-radius: 100px !important;
  padding: 10px 30px !important;
  font-size: 16px !important;
  min-width: 170px !important;
  font-weight: 600;
}

.mat-raised-button.mat-primary {
  background-color: rgba(0, 52, 89, 1);
  color: rgba(41, 207, 245, 1);
}

.mat-raised-button.mat-secondary {
  background-color: white;
  color: rgba(0, 52, 89, 1);
}

.mat-raised-button.mat-primary-blue {
  background-color: rgba(41, 207, 245, 1);
  color: rgba(0, 52, 89, 1);
}
.mat-raised-button.mat-primary-green {
  background-color: rgba(73, 188, 161, 1);
  color: rgba(17, 17, 17, 1);
}
.mat-raised-button.mat-primary-red {
  background-color: rgba(255, 95, 99, 1);
  color: rgba(17, 17, 17, 1);
}
.mat-raised-button.mat-primary-yellow {
  background-color: rgba(254, 213, 70, 1);
  color: rgba(17, 17, 17, 1);
}

.mat-raised-button.mat-primary[disabled] {
  background-color: rgb(95, 95, 95);
  color: black;
}

.mat-raised-button.mat-primary-code-blue {
  border-radius: 0px !important;
  background-color: rgba(41, 207, 245, 1);
  color: black;

  font-size: 130px !important;
  font-weight: bold !important;
}

// dirty, but working
.mat-yellow {
  * {
    stroke: #fed546 !important;
  }
}

/* unvisited link */
a:link {
  color: rgba(73, 188, 161, 1);
}

/* visited link */
a:visited {
  color: rgba(73, 188, 161, 1);
}

/* mouse over link */
a:hover {
  color: rgba(255, 95, 99, 1);
}

/* selected link */
a:active {
  color: rgba(73, 188, 161, 1);
}
