<canvas #myCanvas class="canvas"></canvas>

<div class="super-container">
  <div class="fade"></div>

  <section class="star-wars">
    <div class="crawl">
      <div class="title">
        <p>Episode I</p>
        <h1>A New Job</h1>
      </div>

      <p>
        Hei! Vi er Computas. Et IT-selskap som skaper spennende teknologiske løsninger. Vi har laget noen puzzles du kan
        løse for å bli bedre kjent med oss. Bli med da vel!
      </p>

      <!-- <p>
        It is a time of great change. Job offers bombard the home systems at every turn. 
        Finding the right offer has become ever more challenging as the evil Sopp Stevia Galactic Empire keeps expanding their reach. 
      </p> -->

      <!-- <p>
        A new hope is forming in a new part of thew Oslo galaxy, on the planet Akersgata. A new company with a new image is finally challenging the rule of the evil Empire.
        Princess HR & Marked is racing towards you to deliver the stolen and repurposed job offer that can save her people and restore freedom to the galaxy….
      </p> -->

    </div>
  </section>
</div>