.canvas {
  position: absolute;
  top: 0;
  left: 0;
  // margin-left: -50vw;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh1, 1vh) * 100);
  background: black;
  animation: fade-in-background 100s linear;

  font-size: 16px;
}

.super-container {
  position: absolute;
  top: 0;
  left: 0;
  // margin-left: -50vw;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh1, 1vh) * 100);
  overflow: hidden;
  //   background: black;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  opacity: 1;
  animation: fade-in-background 100s linear;

  .fade {
    position: relative;
    width: 100vw;
    min-height: 80vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }

  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 600px;
    text-align: justify;

    animation: fade-in-text 100s linear; // 100s for % = sec

    .title-text {
      font-size: 120px;
      color: black;
      -webkit-text-stroke: 5px #feda4a;
    }
    .episode-text {
      font-size: 72px;
    }
    .content-text {
      font-size: 50px;
    }

    .crawl {
      position: relative;
      top: 99999px;
      transform-origin: 50% 100%;
      animation: crawl 60s linear;
    }

    .crawl > .title {
      font-size: 90%;
      text-align: center;
    }

    .crawl > .title h1 {
      margin: 0 0 100px;
      text-transform: uppercase;
    }
  }

  @keyframes crawl {
    0% {
      top: calc(var(--vh1, 1vh) * 1);
      transform: rotateX(20deg) translateZ(0);
    }
    100% {
      top: -8000px;
      transform: rotateX(20deg) translateZ(-2500px);
    }
  }

  @keyframes fade-in-text {
    0% {
      opacity: 1;
    }
    26% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-in-background {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    32% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
