
.container {
    background: #16a085;

    width: 100vw;
    height: 100vh;
    // background-image: url('./../../assets/start.jpg');
    background-size: cover;
    background-color: #29CFF5;
    background-position: center center;

    padding: 20px;

    .title {
        text-align: center;
    }
}

