<!-- <deg-victory (closedEE)="closeOutro()" [effectDna]="true" [title]="''" *ngIf="showOutro"></deg-victory> -->
<!-- <deg-dna-effect *ngIf="showOutro"></deg-dna-effect> -->

<div class="container">
    <h1 class="title">Velkommen til Computas!</h1>

    <div class="logo">
        <img src="assets/Computaspacman.gif" class="logo-img">
    </div>

    <div class="text">
        Du er nå en av Norges fremste ekspert på sky, AI og maskinlæring!
        <br><br>
        Gjennom spillet har du nå fått et innblikk i våre prosjekter. Vil du vite mer om hva vi jobber med eller hva vi
        kan gjøre for deg? Kom innom og hils på oss på stand eller besøk vår nettside <a
            href="https://computas.com/">computas.com</a>
    </div>

    <div class="buttons">
        <a href="https://koble.events/6324">
            <button mat-raised-button color="primary-blue" class="start-button">Søk hos oss</button>
        </a>
    </div>

</div>

<!-- <deg-win-popup></deg-win-popup> -->

<!-- <a href="https://koble.events/6324">koble.events/6324</a> -->
<!-- <p *ngIf="canShare">
    <button mat-raised-button color="primary" class="start-button" (click)="share()">share!</button>
</p> -->

<div class="intro-container" *ngIf="showIntro">
    <deg-confetti-effect></deg-confetti-effect>
    <deg-info-overlay [title]="'Gratulere!'" [imageUrl]="'assets/testUserImg.jpg'" [imageData]="imageData" [startButtonLabel]="'Fortsett'"
        (startEE)="closeIntro()">

        <div class="user">
            <div class="name">Greger</div>
            <div class="time">
                <deg-highscore-time [startTime]="startTime"></deg-highscore-time>
            </div>
        </div>

        <ng-container *ngIf="canShare">
            <br><br>
            <button mat-raised-button color="secondary" class="start-button" (click)="share()">Share</button>
        </ng-container>

    </deg-info-overlay>
</div>