<!-- <deg-victory (closedEE)="closeOutro()" [effectDna]="true" [title]="''" *ngIf="showOutro"></deg-victory> -->
<!-- <deg-dna-effect *ngIf="showOutro"></deg-dna-effect> -->

<div class="container">
    <h1 class="title">Seier!</h1>
    <p>
        Gratulere, du vant! Din score er automatisk sendt inn. Vil du jobbe med kule ting? Meld interesse med <a href="https://koble.events/6324">koble.events/6324</a>
    </p>
    <p *ngIf="canShare">
        <button mat-raised-button color="primary" class="start-button" (click)="share()">share!</button>
    </p>

    <h2 class="title">Highscore</h2>
    <div>
        <deg-highscore [onlyCompleted]="true"></deg-highscore>
    </div>



</div>
<div class="intro-container" *ngIf="showIntro">
    <deg-info-overlay [title]="'Gratulere, du vant!'" [subTitle]="'Dette var kult'" [imageUrl]="'assets/profiles/1.jpg'"
        [startButtonLabel]="'La meg se hvordan jeg ligger an'" (startEE)="closeIntro()">
        Takk for at du spilte å sånn. Kikk denne for å se highscore
    </deg-info-overlay>
</div>